@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
}

body {
  background: var(--background);
  font-family: "Crimson Text", serif;
}

@keyframes blurIn {
  from {
    filter: blur(2);
  }

  to {
    filter: blur(0);
  }
}

.page-transition {
  animation: blurIn 0.25s ease-in-out;
}
